<h2 align="center">Employee List</h2>
    <table border='2' align="center">
        <thead>
            <tr>
                <th>EmpId</th>
                <th>EmpName</th>
                <th>Salary</th>
                <th>Gender</th>
                <th>DOJ</th>
                <th>Country</th>
                <th>Email-Id</th>
                <th>Password</th>
                <th>Experience</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.empId}}</td>
                <td>{{employee.empName | gender:employee.gender | uppercase}}</td>
                <td>{{employee.salary | currency:"INR"}}</td>
                <td>{{employee.gender |lowercase}}</td>
                <td>{{employee.doj |  date:'dd-MMM-yyyy'}}</td>
                <td>{{employee.country}}</td>
                <td>{{employee.emailId}}</td>
                <td>{{employee.password}}</td>
                <td>{{employee.doj|  exp}}</td>

            </tr>
        </tbody>
    </table>
     <!-- <button (click)="submit()">Employees</button> -->
\